<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/tenant/vehicles-list">Kho xe</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/tenant/vehicles-list">Thêm xe</a></li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="vehicle">
    <div class="vehicle__img">
      <img src="../../../../assets/img-xe.jpg" alt="">
      <form>
        <div class="form-group">
          <label for="exampleFormControlFile1">Thay đổi ảnh</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
      </form>
    </div>
    <label class="vehicle__input">Biển số:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Cơ sở:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Tên xe:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Số lượng:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Màu xe:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Nhãn hiệu:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Giá trị công tơ mét hiện tại:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Giá mỗi Km:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
  </div>
  <div class="vehicle__save">
    <button type="button" class="btn btn--main">Lưu thay đổi</button>
  </div>
</div>
