<section class="info-owner">
  <div class="container">
    <div class="info-owner__top">
      <p class="font-weight-bold">Cơ sở: Nguyễn Văn Anh</p>
      <p><span class="font-weight-bold">Địa chỉ:</span> xxx</p>
      <div class="row">
        <div class="info-owner__left col-md-8">
          <img src="../../../../assets/2.jpg" alt="Ảnh xe">
        </div>
        <div class="info-owner__right col-md-4">
          <h4>Thông tin xe:</h4>
            <p class="font-weight-bold">Xe Toyota</p>
            <p><span class="font-weight-bold">Loại xe:</span> 7 chỗ</p>
            <p><span class="font-weight-bold">Số lượng xe có sẵn: </span>3</p>
            <p><span class="font-weight-bold">Giá thuê theo ngày: </span>1.000.000 VND</p>
          <button class="btn btn--main" type="button">Chọn xe <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </button>


<!--            <div class="">-->
<!--              <div class="g-rating">-->
<!--                  <span class="rating">-->
<!--                      <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                      <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                      <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                      <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                      <i class="fa fa-star-o" aria-hidden="true"></i>-->
<!--                  </span>-->
<!--                <p>10 người đánh giá</p>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
<!--  <div class="container">-->
<!--    <div class="info-owner__bottom">-->
<!--      <h6 class="font-weight-bold">Tiến hành đặt xe</h6>-->
<!--      <div class="row info-owner-row">-->
<!--        <div class="col-md-9">-->
<!--          <div class="owner info-owner-list">-->
<!--            <div class="owner__item">-->
<!--              <div class="row">-->
<!--                <div class="col-md-12 col-lg-4">-->
<!--                  <div class="owner__img">-->
<!--                    <img src="./images/img-xe.jpg" alt="xe">-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="owner__info col-md-8 col-lg-5">-->
<!--                  <p class="font-weight-bold">Xe Toyota</p>-->
<!--                  <p><span class="font-weight-bold">Loại xe:</span> 7 chỗ</p>-->
<!--                  <p><span class="font-weight-bold">Số lượng xe có sẵn: </span>3</p>-->
<!--                  <p><span class="font-weight-bold">Giá thuê theo số km: </span>1.000.000 VND</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <hr>-->
<!--&lt;!&ndash;            <div class="owner__item-detail">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-9">&ndash;&gt;-->
<!--&lt;!&ndash;                  <p class="font-weight-bold">Chi tiết đặt xe</p>&ndash;&gt;-->
<!--&lt;!&ndash;                  <form action="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label class="col-form-label" for="name">Địa điểm nhận xe</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      <input class="form-control" type="text" id="name" name="name">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                    <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label class="col-form-label" for="name">Ngày đặt - Ngày trả</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      <input class="form-control" type="date" name="name" required&ndash;&gt;-->
<!--&lt;!&ndash;                             minlength="4" maxlength="8" size="10">&ndash;&gt;-->
<!--&lt;!&ndash;                      <input class="form-control" type="date" name="name" required&ndash;&gt;-->
<!--&lt;!&ndash;                             minlength="4" maxlength="8" size="10">&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="input-group">&ndash;&gt;-->
<!--&lt;!&ndash;                      <label class="col-form-label" for="name">Số lượng</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash;                                            <input class="form-control" type="text" id="name2" name="name" required&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash;                                            minlength="4" maxlength="8" size="10">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="number-input">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <input class="quantity" min="0" name="quantity" value="1" type="number">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </form>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="col-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="font-weight-bold">2.560.000 VND</div>&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="owner__btn info-owner-button">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a href="chitietnhaxe.html">Chọn xe<i class="fa fa-long-arrow-right"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--          </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="col-md-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="info-owner-order">&ndash;&gt;-->
<!--&lt;!&ndash;            <h6 class="font-weight-bold">Danh sách xe</h6>&ndash;&gt;-->
<!--&lt;!&ndash;            <table>&ndash;&gt;-->
<!--&lt;!&ndash;              <thead>&ndash;&gt;-->
<!--&lt;!&ndash;              <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>Tên xe</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>Số lượng</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th>Giá(VND)</th>&ndash;&gt;-->
<!--&lt;!&ndash;                <th></th>&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>&ndash;&gt;-->
<!--&lt;!&ndash;              </thead>&ndash;&gt;-->
<!--&lt;!&ndash;              <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;              <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>Xe Toyota</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>01</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>2.560.000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>&ndash;&gt;-->
<!--&lt;!&ndash;              <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>Xe Mercedes</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>01</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>4.500.000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>&ndash;&gt;-->
<!--&lt;!&ndash;              <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>Tổng tiền</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td>7.060.000</td>&ndash;&gt;-->
<!--&lt;!&ndash;                <td><i class="fa fa-trash-o" aria-hidden="true"></i></td>&ndash;&gt;-->
<!--&lt;!&ndash;              </tr>&ndash;&gt;-->
<!--&lt;!&ndash;              </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;            </table>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="info-owner__btn">&ndash;&gt;-->
<!--&lt;!&ndash;              <a class="btn btn&#45;&#45;main" href="datxe.html">Đặt xe <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->


</section>
