<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/tenant/vehicles-list">Kho xe</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/tenant/vehicles-list">Kho xe ô tô</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>
<div class="container">
  <form class="vehicle" [formGroup]="vehInput" (ngSubmit)="onUpdateInfoVehicle()">
    <!--    <div class="vehicle__img">-->
    <!--      <img src="../../../../assets/img-xe.jpg" alt="">-->
    <!--      <form>-->
    <!--        <div class="form-group">-->
    <!--          <label for="exampleFormControlFile1">Thay đổi ảnh</label>-->
    <!--          <input type="file" class="form-control-file" id="exampleFormControlFile1">-->
    <!--        </div>-->
    <!--      </form>-->
    <!--    </div>-->
   
    <label class="vehicle__input">ID:
      <input formControlName="ID" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Biển số:
      <input formControlName="LPC" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Cơ sở:
      <input formControlName="TenantID" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Tên xe:
      <input formControlName="Lable" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Giá mỗi ngày:
      <input formControlName="PricePerDay" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Màu xe:
      <input formControlName="Color" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Nhãn hiệu:
      <input formControlName="KindOf" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Giá trị công tơ mét hiện tại:
      <input formControlName="CurrentKM" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Giá mỗi Km:
      <input formControlName="PricePerKm" class="form-control" type="text">
    </label>
    <label class="vehicle__input">Trạng thái:
      <input formControlName="CarStatus" class="form-control" type="text">
    </label>
    <!-- <div class="form-group">
      <label for="exampleFormControlSelect1">Trạng thái:</label>
      <s formControlName="CarStatus" class="form-control" id="exampleFormControlSelect1">
        <option>available</option>
        <option>D</option>
      </select>
    </div> -->
    <div class="vehicle__btn">
      <button type="submit" class="btn btn--main">Lưu thay đổi</button>
    </div>
   
</form>
</div>