<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/tenant/vehicles-list">Kho xe</a></li>
      <li class="breadcrumb-item" aria-current="page"><a routerLink="/tenant/vehicles-list">Kho xe ô tô</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav>
</div>
<div class="container">
  <div class="vehicle" [formGroup]="vehInput">
<!--    <div class="vehicle__img">-->
<!--      <img src="../../../../assets/img-xe.jpg" alt="">-->
<!--      <form>-->
<!--        <div class="form-group">-->
<!--          <label for="exampleFormControlFile1">Thay đổi ảnh</label>-->
<!--          <input type="file" class="form-control-file" id="exampleFormControlFile1">-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->

    <label class="vehicle__input">ID:
      <input formControlName="ID" class="form-control" type="text" placeholder="Default input" >
    </label>
    <label class="vehicle__input">Biển số:
      <input formControlName="LPC" class="form-control" type="text" placeholder="Default input" >
    </label>
    <label class="vehicle__input">Cơ sở:
      <input formControlName="IDowner" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Tên xe:
      <input formControlName="Lable" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Giá mỗi ngày
      <input formControlName="PricePerDay" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Màu xe:
      <input formControlName="Color" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Nhãn hiệu:
      <input formControlName="KindOf" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Giá trị công tơ mét hiện tại:
      <input formControlName="CurrentKM" class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Giá mỗi Km:
      <input class="form-control" type="text" placeholder="Default input">
    </label>
    <label class="vehicle__input">Trạng thái:
      <input formControlName="CarStatus" class="form-control" type="text" placeholder="Default input">
    </label>
  </div>
  <div class="vehicle__save">
    <button type="button" class="btn btn--main">Lưu thay đổi</button>
  </div>
</div>
