<section class="list-booked">
  <div class="owner-tab-wrap container-fluid">
    <div class="container">
      <ul class="owner-tab nav nav-tabs">
        <li class="owner-tab__item " routerLink="all-bill" routerLinkActive="owner-tab__item--active"><a>Hóa đơn</a></li>
        <li class="owner-tab__item" routerLink="not-complete-bill" routerLinkActive="owner-tab__item--active"><a>Đã nhận xe</a></li>
        <li class="owner-tab__item" routerLink="completed-bill" routerLinkActive="owner-tab__item--active"><a>Đã trả xe</a></li>
        <li class="owner-tab__item add-bill" routerLink="add-bill" routerLinkActive="owner-tab__item--active"><a>Tạo hóa đơn</a></li>
      </ul>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

