<section class="list-booked">
  <div class="owner-tab-wrap container-fluid">
    <div class="container">
      <ul class="owner-tab nav nav-tabs">
        <li class="owner-tab__item owner-tab__item--active active" routerLink="/rental-list"><a data-toggle="tab">Chưa nhận xe</a></li>
        <li class="owner-tab__item"><a data-toggle="tab">Đã nhận xe</a></li>
        <li class="owner-tab__item"><a data-toggle="tab">Đã trả xe</a></li>
      </ul>
    </div>
  </div>
  
  <div class="container">
    <div class="tab-content">
      <div id="chuanhanxe" class="tab-pane active">
        <div class="row">
          <h6 class="col-8">Danh sách sắp xếp theo ngày đặt</h6>
          <label class="col-4">
            <select name="cars" class="custom-select mb-3">
              <option selected>Ngày đặt xe</option>
              <option value="">Ngày nhận xe</option>
            </select>
          </label>
        </div>
        <!-- Tables begin -->
        <!--scss: generic-->
        <table class="table">
          <thead class="table__head">
          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="col">Tên khách hàng</th>
            <th class="table__cell table__cell--head" scope="col">Ngày nhận - Ngày trả</th>
            <th class="table__cell table__cell--head" scope="col">Mã đặt</th>
            <th class="table__cell table__cell--head" scope="col">Loại xe</th>
            <th class="table__cell table__cell--head" scope="col">Số lượng</th>
            <th class="table__cell table__cell--head" scope="col">Tổng tiền</th>
            <th class="table__cell table__cell--head" scope="col"></th>
          </tr>
          </thead>
          <tbody class="table__body">

          <tr class="table__row">
            <th class="table__cell table__cell--head table__cell--spanned" colspan="7">
              Ngày đặt: <span>14/03/2019</span>
            </th>
          </tr>

          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="row" data-title="Tên khách hàng">
              Trần Thị An
            </th>
            <td class="table__cell" data-title="Ngày nhận - Ngày trả">
              <span>T6 15/03/2019</span> - <span>T3 19/03/2019</span>
            </td>
            <td class="table__cell" data-title="Mã đặt">
              #12345
            </td>
            <td class="table__cell" data-title="Loại xe">
              Xe 4 chỗ
            </td>
            <td class="table__cell" data-title="Số lượng">
              2
            </td>
            <td class="table__cell">
              2.000.000 VND
            </td>
            <td class="table__cell">
              <a class="btn-detail" href="">Xem chi tiết</a>
            </td>
          </tr>
          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="row" data-title="Tên khách hàng">
              Trần Thị An
            </th>
            <td class="table__cell" data-title="Ngày nhận - Ngày trả">
              <span>T6 15/03/2019</span> - <span>T3 19/03/2019</span>
            </td>
            <td class="table__cell" data-title="Mã đặt">
              #12345
            </td>
            <td class="table__cell" data-title="Loại xe">
              Xe 4 chỗ
            </td>
            <td class="table__cell" data-title="Số lượng">
              2
            </td>
            <td class="table__cell" data-title="Tổng tiền">
              2.000.000 VND
            </td>
            <td class="table__cell">
              <a class="btn-detail dinhvi" href="">Xem định vị</a>
            </td>
          </tr>
          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="row" data-title="Tên khách hàng">
              Trần Thị An
            </th>
            <td class="table__cell" data-title="Ngày nhận - Ngày trả">
              <span>T6 15/03/2019</span> - <span>T3 19/03/2019</span>
            </td>
            <td class="table__cell" data-title="Mã đặt">
              #12345
            </td>
            <td class="table__cell" data-title="Loại xe">
              Xe 4 chỗ
            </td>
            <td class="table__cell" data-title="Số lượng">
              2
            </td>
            <td class="table__cell" data-title="Tổng tiền">
              2.000.000 VND
            </td>
            <td class="table__cell">
              <a class="btn-detail dinhvi" href="">Xem định vị</a>
            </td>
          </tr>
          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="row" data-title="Tên khách hàng">
              Trần Thị An
            </th>
            <td class="table__cell" data-title="Ngày nhận - Ngày trả">
              <span>T6 15/03/2019</span> - <span>T3 19/03/2019</span>
            </td>
            <td class="table__cell" data-title="Mã đặt">
              #12345
            </td>
            <td class="table__cell" data-title="Loại xe">
              Xe 4 chỗ
            </td>
            <td class="table__cell" data-title="Số lượng">
              2
            </td>
            <td class="table__cell" data-title="Tổng tiền">
              2.000.000 VND
            </td>
            <td class="table__cell">
              <a class="btn-detail dinhvi" href="">Xem định vị</a>
            </td>
          </tr>
          <tr class="table__row">
            <th class="table__cell table__cell--head" scope="row" data-title="Tên khách hàng">
              Trần Thị An
            </th>
            <td class="table__cell" data-title="Ngày nhận - Ngày trả">
              <span>T6 15/03/2019</span> - <span>T3 19/03/2019</span>
            </td>
            <td class="table__cell" data-title="Mã đặt">
              #12345
            </td>
            <td class="table__cell" data-title="Loại xe">
              Xe 4 chỗ
            </td>
            <td class="table__cell" data-title="Số lượng">
              2
            </td>
            <td class="table__cell" data-title="Tổng tiền">
              2.000.000 VND
            </td>
            <td class="table__cell">
              <a class="btn-detail dinhvi" href="">Xem định vị</a>
            </td>
          </tr>
          </tbody>
        </table>
        <!--end-table-->
      </div>
    </div>
  </div>
</section>
