<div class="container-fluid">
  <div class="row">
    <nav class="g-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/tenant/vehicles-list">Kho xe ô tô</a>
<!--          <a class="nav-link active" [routerLink]="'/tenant/vehicles-list/' + vehicle.type">Kho xe ô tô</a>-->
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/tenant/vehicles-list">Kho xe máy</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<section class="vehicles">
  <div class="container">
    <div class="row" *ngFor="let vehicle of vehicles">
      <div class="col-md-4">
        <div class="vehicles__item">
          <img class="img-fluid" src="../../../../assets/img-xe.jpg" alt="ảnh xe">
          <p class="vehicles__txt">Biển số: {{ vehicle.LPC }} </p>
          <p class="vehicles__txt">Nhãn hiệu: {{ vehicle.Lable }}</p>
          <p class="vehicles__txt">Màu: {{ vehicle.Color }}</p>
          <div class="form-group">
            <label>Trạng thái {{ vehicle.CarStatus }}</label>
            <select class="form-control">
              <option>Đã cho thuê</option>
              <option>Có sẵn</option>
            </select>
<!--            <span class="icon-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>-->
          </div>
          <div class="seemore" routerLink="/tenant/vehicles-list-detail">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="add-vehicle" routerLink="/tenant/add-vehicle">
  <i class="fa fa-plus" aria-hidden="true"></i>
</div>
